*{
    box-sizing: border-box;
}

:root{
    --primary-color:#999dd6;
    --secondary-color: #373b69;
}

body {
    background-color: #b17b7b; 
    color: #e0c9c9; 
}

header{
    padding:1rem;
    display:flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}
